DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_NAME={{ db_name }}

DOCKERHUB_USERNAME={{ dockerhub_username }}
ACCESS_TOKEN_EXP={{ access_token_exp }}

JWT_SECRET={{ jwt_secret }}
CORS_ORIGINS={{ cors_origins }}

BACKEND_IMAGE={{ dockerhub_username }}/pop-quizz-back:{{ backend_image_tag }}
FRONTEND_IMAGE={{ dockerhub_username }}/pop-quizz-front:{{ frontend_image_tag }}